.button {
  font-size: 37px;
  padding-top: 3px;
  color: #0f162e;
  font-weight: bold;
  height: 82px;
  border-radius: 20px;
  font-family: inherit;
  border: unset;
  box-shadow: 0px 0px 13px 2px rgba(154, 154, 154, 0.3);
  transition: background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  &:focus {
    outline: 0;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }

  &--grey {
    color: #696e7e;
  }

  &--yellow {
    color: #fc9406;
  }

  &--middle {
    padding-bottom: 21px;
  }

  &--red {
    color: #fff;
    background: #ff4754;
  }

  &--green {
    color: #fff;
    background: #0dc143;
  }
}

.dark .button {
  background: #283345;
  color: #fff;
  box-shadow: 0px 0px 13px 2px rgba(123, 123, 123, 0.3);

  &--grey {
    color: #a8acb3;
  }

  &--yellow {
    color: #fc9406;
  }

  &--red {
    color: #fff;
    background: #ff4754;
  }
}