.pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 26px;
  padding: 0 32px 32px 32px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}